
.loginAffiche-page{
    position: absolute;
    width: 1920px;
    height: 1035px;

      th{
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        div{
          text-align: center;
          margin-left: 0px;
        }
      }
      td div{
        text-align: center;
        margin-left: 0px;
      }
    .scrool-content{
        width: 100%;
        height: 955px;
        box-shadow: 0px 4px 5px #ccc inset;
        .form-content{
          margin:9px 10px;
          margin-top: 0px;
          background: #ffffff;
          width: 1900px;
          height: 884px;
    
          .datum-title{
            height: 50px;
           
            display: flex;
            margin-left: 17.5px;
            margin-top: 21px;
            
            .basic-con{
                width: 100px;
                height: 40px;
                margin-top: 10px;

                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                display: flex;
                // box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.16) inset, 3px 0 6px 0 rgba(0, 0, 0, 0.16);
               // box-shadow: -3px -1px 6px rgba(0, 0, 0, 0.16), -3px 1px 3px -3px rgba(0, 0, 0, 0.16) inset;
                // box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.16), 0px 0px 6px 0 rgba(0, 0, 0, 0.16);
                box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.16) inset, 0px 0px 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
                color: #aeaeae;
                z-index: 1;
                .basic-set{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 130px;

                    font-weight: bold;
                    font-family:$font-family;
                    font-size: 16px;
                   
                    letter-spacing: normal;
                    text-align: center;
                   
                }
            }

            .green-check{
              height: 50px;
              margin-top: 0px;
              color: #308769;
              z-index: 3;
            
              box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.16), 1px -1px 2px 0px rgba(0, 0, 0, 0.16);
            }
            .blue-check{
              height: 50px;
              margin-top: 0px;
              color: #1b65db;
              z-index: 3;
            
              box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.16), 1px -1px 2px 0px rgba(0, 0, 0, 0.16);
            }
            .orange-check{
              height: 50px;
              margin-top: 0px;
              color: #ff6a3b;
              z-index: 3;
            
              box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.16), 1px -1px 2px 0px rgba(0, 0, 0, 0.16);
            }
  
         }

         .table-affiche{
            margin-left: 17px;
            display: flex;
            margin-right: 17px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
            border: solid 1px #e4e4e4;
            border-top: 0px;
            background-color: #ffffff;
            font-family: $font-family;
            width: 1866px;
            .table-affiche-left{
              width: 45px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 68px;
              .left-icon{
                width: 30px;
                height: 30px;
              }
            }
            .table-affiche-right{
              width: 1821px;
              
              font-weight: bold;
              .table-main{
                margin-top: 16px;
                margin-bottom: 18px;
                margin-right: 27px;
                // width: 100%;
                .table-tr-header{
                    width: 100%;
                    th:nth-child(1){
                        width: 196px;
                        height: 50px;
                    }
                      th:nth-child(2){
                        width: 186px;
                        height: 50px;
                    }
                      th:nth-child(3){
                        width: 1404px;
                        height: 50px;
                    }
                }
                tr{
                  td{
                  
                    color: #19495b;
                    .td-content{
               
                      padding-left: 20px;
                      padding-bottom: 15px;
                      display: grid;
                      text-align: left;
                      div{
                        text-align: left;
                        padding-top: 13px;
                      }
                    }
                    .td-content1{
                      padding-left: 20px;
                      padding-bottom: 15px;
                      text-align: left;
                      display: flex;
                      span{
                        text-align: left;
                        padding-top: 13px;
                      }
                    }
                  }
                }
                .tr-border-green{
               
                  border-left: 1px solid #0FAC75;
                   td{
                    border-right: 1px solid #0FAC75;
                    border-bottom: 1px solid #0FAC75;
                   }
                  
                }
                .tr-border-blue{
                  border-left: 1px solid #1b65db;
                  td{
                    border-right: 1px solid #1b65db;
                    border-bottom: 1px solid #1b65db;
                  }
                }
                .tr-border-orange{
                  border-left: 1px solid #ff872a;
                  td{
                    border-right: 1px solid #ff872a;
                    border-bottom: 1px solid #ff872a;
                  }
                }
              
                
              }
            }
         }
       }
        
    }


}

// 邮箱
.pop-style-eamil{
  position: relative;
  width: 620px;
  height: 270px;
  background: #ffffff;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  .top-email{
    height: 60px;
    width: 100%;
    align-items: center;
    display: flex;
    .left-img{
      margin-left: 10px;
      width: 18px;
      height: 18px;
    }
    .right-hint{
      margin-left: 4px;
      font-family: $font-family;
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      color: #ffffff;
    }
  }

  .email-vel{
    margin-top: 26px;
    display: flex;
    .email-left{
      width: 161px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 14px;
      font-family:$font-family;
      font-size: 18px;
      font-weight: bold;
    
      color: #111111;
      .email-icon{
        margin-right: 5px;
        width: 20px;
        height: 20px;
      }
    }
    .email-right{
      width: 400px;
      height: 30px;
      .del-border{
        border: none;
        color: #999999;
      }
    }
  }

  .submit-vel{
    margin-top: 20px;
    margin-left: 175px;
    display: flex;
  }
}
