.authority-page{
    width: 1920px;
    height: 1035px;
    position: absolute;

    .scrool-content{
        height: 901px;
        width: 100%;
        box-shadow: 0px 4px 5px #ccc inset;
        .form-content{
            margin:9px 10px;
            margin-top: 0px;
            background: #ffffff;
            height: 830px;
            .main-content1{
            
                margin-left: 21px;
            }
            .main-content2{
            
              margin-left: 21px;
            }
            .main-content3{
            
              margin-left: 21px;
            }
            .main-content4{
                .switch-module1{
                    .platform-vel{
                      margin-top: 16px;
                      margin-left: 21px;
                      height: 30px;
                
                      display: flex;
                      align-items: center;
                      .platform-left{
                          margin-right: 10px;
                          font-family: $font-family;
                          font-size: 16px;
                          color: #333333;
                      }
                      .platform-right{
                          height: 30px;
                      }
                    }
    
                    .btn-vel{
                        margin-top: 16px;
                        margin-left: 21px;
                    }
    
                    .table-title-vel{
                        margin-top: 16px;
                        margin-left: 21px;
                        height: 48px;
                        .title-con{
                            width: 144px;
                            height: 24px;
                            font-family: $font-family;
                            font-size: 18px;
                          
                            text-align: left;
                            color: #666666;
                        }
                    }
                    .table-tier-vel{
                        margin-left: 21px;
                      
                        
                        .new-width{
                            width: 1000px;
                            border: 1px solid #cccccc;
                            .table-head td{
                              border-right: 1px solid #ffffff;
                            }
                            .update-icon{
                              width: 20px;
                              height: 20px;
                            }
                        }
                    }
                }
                .switch-module2{
                    margin-left: 21px;
                }
                .switch-module3{
                  margin-left: 21px;
                }
               
            }
                
        }

    }
}

//权限管理弹窗模块
.mask-authority{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(127,127,127,0.5);
    .style-authority{
        position: relative;
        width: 630px;
        height: 870px;
        border-radius: 5px;
        box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin-top: 92px;
        margin-left: 636px;
        display: flex;
        justify-content: center;
        .content-authority{
          height: 100%;
          width: 606px;
          margin-left: 12px;
          margin-right: 12px;
       
          .header-vel{
              height: 26px;
              margin-top: 27px;
              font-family: $font-family;
              font-size: 20px;
              font-weight: bold;
              text-align: left;
          }
          .tab-title{
            margin-top: 15px;
            height: 33px;
            .text-con{
                width: 238px;
                height: 19px;
                font-family: $font-family;
                font-size: 14px;
                text-align: left;
                color: #ff3b3b;
            }
          }

          tr{
            border-top: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            td{
                font-family: $font-family;
                font-size: 14px;
                padding-left: 7.8px;
                color: #333333;
            }
          }
          .tab-head{
              height: 25px;
              width: 100%;
             
              .neo-width{
                  width: 100%;
                  tr{
                      height: 25px;
                      td{
                        font-weight: bold;
                      }
                      td:nth-child(1){
                        width: 90px;
                      }
                      td:nth-child(2){
                        width: 124px;
                      }
                      td:nth-child(3),td:nth-child(4),td:nth-child(5),td:nth-child(6){
                        width: 78px;
                      }
                  }
                 
              }
          }
        
          .tab-main{
              width: 606px;
              height:680px;
              box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
              overflow: scroll;
            //   background-color: red;
              .table-vel{
               
                width: 606px;
                // height:680px;
                // background-color: red;
                tr{
                    height: 40px;
                     
                     .td-01{
                        width: 90px;
                      }
                      .td-02{
                        width: 124px;
                      }
                      .td-03{
                        width: 78px;
                      }
                }
              }
          }
            .tab-main::-webkit-scrollbar {/*滚动条整体样式*/
                width: 3px;     /*高宽分别对应横竖滚动条的尺寸*/
                height: 0px;
            }
            .tab-main::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                border-radius: 10px;
                background-color: #66c7a5;
            }
            .tab-main::-webkit-scrollbar-track {/*滚动条里面轨道*/
                border-radius: 10px;
                background: #EDEDED;
            }

            .save-vel{
                margin-top: 20px;
                
            }

        }
        .pop-close1{
          position:absolute;
          width: 36px;
          height: 36px;
          right: -16px;
          top: -20px;
        }
      }
  }
