@charset "UTF-8";


//select{
//  appearance: none;
//  -moz-appearance: none;
//  -webkit-appearance: none;
//}
///*清除ie的默认选择框样式清除，隐藏下拉箭头*/
//select::-ms-expand {
//  display: none;
//}
html body{
  font-family: $font-family !important;

  // a{
  //   display: block !important;
  // }
}

  /*----------日期选择的箭头----------*/
  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
    background: transparent;
    color: transparent;
}

/*----------用来移除上下箭头----------*/
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/*----------用来移除叉叉按钮----------*/
input[type="date"]::-webkit-clear-button{
    display:none;
}

input[type="date"] {
    width: 137px;
    height: 30px;
    border: none;
    line-height: 1;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: 3;
    padding-left: 0px;
    color: #525C66;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        padding-right:0px; 
        background:url($Image-url+"date-2x.png") no-repeat scroll right center transparent; 
        background-size: 18px 20px;
    }


// @media (min-width:1281px) and(max-width:1919px){
//   body::-webkit-scrollbar{
//      display: none;
    
//   }
// }

@media (width:1920px){
  //去除底部和右侧的滚动条
  body::-webkit-scrollbar{
     display: none;
    
  }
}

.hide {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.scr-green{
  background-color: #eeeeee;
}
.scr-orange{
  background-color: #fff0e5;
}
.scr-blue{
  background-color: #d4e4ff;
}
//浅绿色
.green-text,.green-text>a{
  color: #66c7a5 !important;
}

//深绿色
.green-text1{
  color: #308769 !important;
}
//深蓝色
.blue-text1{
  color: #1b65db !important;
}

//深橙色
.orange-text1{
  color: #ff872a !important;
}
.green-bg{
  background-color: #66c7a5 !important;
  color: #ffffff;
  div:first-child{
    color: #ffffff !important;
  }
}

.green-header-bg{
  background-image: linear-gradient(to bottom, #66c7a5, #35a17b);
  color: #ffffff;
  div:first-child{
    color: #ffffff !important;
  }
}
.blue-header-bg{
  background-image: linear-gradient(to bottom, #3f89ff, #1b65db);
  color: #ffffff;
  div:first-child{
    color: #ffffff !important;
  }
}
.orange-header-bg{
  background-image: linear-gradient(to bottom, #ff872a, #ff6a3b);
  color: #ffffff;
  div:first-child{
    color: #ffffff !important;
  }
}



.green-btn{
  background-color: #308769 !important;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff !important;
}
.green-btn>a{
  color: #fff !important;
}
//中-绿色
.green-btn1{
  background-color: #1ba786 !important;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff !important;
}
.green-btn1>a{
  color: #fff !important;
}

.green-btn2{
  background-color: #1ba786 !important;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff !important;
}

.blue-btn1{
  background-color:  #1b65db !important;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff !important;
}
.blue-btn1>a{
  color: #fff !important;
}

.orange-btn1{
  background-color:  #ff6a3b !important;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff !important;
}
.orange-btn1>a{
  color: #fff !important;
}

.green-open{
  background-image: linear-gradient(to top, #14c587, #137855) !important;;
}
.green-active {
  background-color: #308769!important;
}

.green-btn-active {
  // width: 100px!important;
  height: 50px!important;
  background-color: #308769!important;
  color: #ffffff !important;
}

//橘色
.orange-text{
  color: #ff872a !important;
}
.orange-btn{
  background-color: #ff6a3b !important;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff !important;
  // box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.16) inset;
}
.orange-btn>a{
  color: #fff !important;
}
.orange-bg{
  background-color: #ff872a !important;
  color: #ffffff;
  div:first-child{
    color: #ffffff !important;
  }
}
.orange-open{
  background-image: linear-gradient(to top, #ff872a, #ff4714) !important;
}
.orange-active {
  background-color: #ff6a3b!important;
}
.orange-btn-active {
 
  height: 50px!important;
  background-color: #ff6a3b!important;
  color: #ffffff !important;
}
.color_02{
  color: #ff6a3b!important;
}
//蓝色
.blue-text{
  color: #3f89ff!important;
}
.blue-bg{
  background-color: #3f89ff !important;
  color: #ffffff;
  div:first-child{
    color: #ffffff !important;
  }
}

.blue-btn{
  background-color: #1b65db !important;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff !important;
}
.blue-btn>a{
  color: #fff !important;
}
.blue-open{
  background-image: linear-gradient(to top, #4885db, #0652db)!important;
}
.blue-active {
  background-color: #1b65db!important;
}

.blue-btn-active {
 
  height: 50px!important;
  background-color: #1b65db !important;
  color: #ffffff !important;
}

//白色按钮
.white-btn{
  width: 40px;
  height: 40px;
  // border-radius: 20px;
  border: 2.5px solid #fff;
  // box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.16);
  box-shadow:  0px 0px 6px 0 rgba(0, 0, 0, 0.66);
}

.btn-submit{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: #dbdbdb;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #122640;
  line-height: 30px;
  font-family: $font-family;
  margin-right: 25px;
}
.btn-submit>a{
  color: #122640;
}
//按钮
.btn-general{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: #d8d8d8;
  span{
    height: 21px;
    font-family: $font-family;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
}
.btn-general>a{
  color: #fff !important;
}

//深绿色
.greens-btn{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: #308769;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  line-height: 30px;
  font-family: $font-family;
  margin-right: 25px;
}

//导航样式
.navigation_bar {
  width: 1920px;
  height: 54px;
  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.16) inset;
  // background-color: #66c7a5;
  display: flex;
  align-items: center;

  .bar-btn {
    padding-left: 27px;
    padding-right: 27px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18.6px;
   
    .bar-btn-txt {
      height: 21px;
      font-family: $font-family;
      font-size: 16px;
      font-weight: bold;
      text-align: left;
    
    }
  }
  .green-bar-btn{
    background-color: #308769 !important;
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
    color: #ffffff !important;
     box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.16) inset;
  }
  .orange-bar-btn{
    background-color: #ff6a3b !important;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff !important;
     box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.16) inset;
  }
  .blue-bar-btn{
    background-color: #1b65db !important;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff !important;
    box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.16) inset;
  }


}

.nav-btn {
  width: 64px;
  height: 21px;
  font-family: $font-family;
  font-size: 16px;
  text-align: right;
  color: #b4b4b4;
}

.nav-active {
  color: #308769
}

.nav-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  border: 1.5px solid #308769;
  margin-top: 9.5px;
}

.nav-text {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  font-family: $font-family;
}

.nav-text-active {
  font-size: 16px;
  color: #0099ff;
}

.green-btn-bar {
  display: flex;
  align-items: flex-end;
  color: #308769;
  
}
.orange-btn-bar {
  display: flex;
  align-items: flex-end;
  color: #ff6a3b;
 
}
.blue-btn-bar {
  display: flex;
  align-items: flex-end;
  color: #1b65db;
 
}
.tab-btn {
  display: flex;
  // width: 100px;
  padding-left: 17px;
  padding-right: 17px;
  height: 45px;
  background-color: #eeeeee;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  // color: #ff6a3b;
  .tab-btn-text {
    width: 100%;
    height: 21px;
    font-family: $font-family;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    // color: #ff6a3b;
  }
}



//分页
.page-content {
  width: 626px;
  display: flex;
  height: 25.7px;
  align-items: center;
  .page-number {
    display: flex;
    margin-right: 10px;

    .page-sel {
      width: 61.8px;
      height: 25.7px;
      border-radius: 2px;
      border: solid 1px #d8d8d8;
      font-size: 14px;
      font-family: $font-family;
      color: #666666;
      background: #ffffff;
    }
  }

  .page-left {
    display: flex;
    width: 80px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .page-left-first{
      width: 17.2px;
      height: 17.2px;
    }
    .page-left-polygon{
      width: 17.2px;
      height: 19.7px;
    }
  }

  .page-center{
    display: flex;
    position: relative;
    width: 160px;
    height: 100%;
    margin-left: 13px;
    align-items: center;

    span{
      width: 36px;
      height: 20px;
      font-family: $font-family;
      font-size: 15px;
      text-align: left;
      color: #666666;
    }
    input{
      width: 42.9px;
      height: 25.7px;
      border-radius: 2px;
      border: solid 1px #d8d8d8;
      background-color: #ffffff;
      font-size: 14px;
      margin-right: 8.6px;
      margin-left: 11.2px;
      font-family: $font-family;
      text-align: center;
    }
    .of-page{
      display: flex;
      justify-content: space-between;
      width: 48px;
      height: 20px;
      font-family: $font-family;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
      color: #666666;
    }
  }

  .page-right {
    display: flex;
    width: 80px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .page-right-first{
      width: 17.2px;
      height: 17.2px;
      filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .page-right-polygon{
      width: 17.2px;
      height: 19.7px;
      filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .ico-refresh{
    width: 17px;
    height: 17px;
    margin-left: 10.7px;
    img{
      width: 17px;
      height: 17px;
    }
  }
  .page-text{
    width: 201px;
    height: 20px;
    font-family: $font-family;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #666666;
    margin-left: 10.5px;
  }
  .page-left::after{
    content: '';
    border-left: 1px solid #d8d8d8;
    position: relative;
    height: 100%;
  }
  .page-left::before{
    content: '';
    border-right: 1px solid #d8d8d8;
    position: relative;
    height: 100%;
  }
  .page-right::after{
    content: '';
    border-left: 1px solid #d8d8d8;
    position: relative;
    height: 100%;
  }
  .page-right::before{
    content: '';
    border-right: 1px solid #d8d8d8;
    position: relative;
    height: 100%;
  }
}

//开关按钮
.btn-switch{
  display: flex;
  position: relative;
  width: 70px;
  height: 30px;
  border:1px solid #989898;;
  border-radius: 2px;
  justify-content: center;
  align-items: center;

  .btn-open{
    display: flex;
    width: 35px;
    height: 30px;
    // border-radius: 2px;
    background-image: linear-gradient(to top, #14c587, #137855);
    font-family: $font-family;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .btn-off{
    display: flex;
    width: 35px;
    height: 30px;
    // border-radius: 1px;
    background-image: linear-gradient(to bottom, #9a9a9a, #f2f2f2);
    font-size: 14px;
    font-family: $font-family;
    color: #7e7e7e;
    justify-content: center;
    align-items: center;
  }
  span{
    width: 28px;
    height: 19px;
    font-family: $font-family;
    font-size: 14px;
    text-align: center;
    z-index: 1;
  }
}

.switch-active{
  width: 35px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #989898;
  background-image: linear-gradient(to bottom, #ffffff, #d8d8d8)!important;
  background: rgb(255, 255, 255,1);
  z-index: 1;
  span{
    display:  none;
  }
}

//设定按钮
.btn-setup{
  position: relative;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #19495b;
  span{
    // width: 32px;
    height: 21px;
    font-family: $font-family;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
}

//弹出风格
.pop-content{
  position: absolute;
  width: 1920px;
  height: 1035px;
  z-index: 10;
}
.mask{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(127,127,127,0.5);
  justify-content: center;
  align-items: center;
}


.pop-style{
  position: relative;
  width: 630px;
  height: 500px;
  background: #ffffff;
  margin-top: 9.5px;
  display: flex;
  justify-content: center;
  .content{
    height: 100%;
    width: 95%;
    .pop-title{
      display: flex;
      height: 80px;
      width: 100%;
      align-items: center;
      span{
        width: 80px;
        height: 27px;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        font-family: $font-family;
      }
    }

    .pop-active{
      display: flex;
      height: 49px;
      width: 100%;
      margin-bottom: 21px;
      align-items: center;
      .pop-btn{
        width: 40px;
        height: 40px;
        margin-right: 25px;
        border-radius: 20px;
        z-index: 1;
      }
    }
    .pop-img{
      width: 599.7px;
      height: 286px;
      .green-switch{
        width: 599.7px;
        height: 286px;
        background-image: url($Image-url +"green-switch.png");
        background-repeat: no-repeat;
        background-size: 599.7px 286px;
      }
      .blue-switch{
        width: 599.7px;
        height: 286px;
        background-image: url($Image-url +"blue-switch.png");
        background-repeat: no-repeat;
        background-size: 599.7px 286px;
      }
      .orange-switch{
        width: 599.7px;
        height: 286px;
        background-image: url($Image-url +"orange-switch.png");
        background-repeat: no-repeat;
        background-size: 599.7px 286px;
      }
    }

    .pop-event{
      display: flex;
      width: 100%;
      height: 64px;
      align-items: center;
    }
  }
  .pop-close{
    position:absolute;
    width: 36px;
    height: 36px;
    right: -16px;
    top: -20px;
  }
}


.red-text{
  color:#ff3b3b;
}

//checkbox按钮
.che-standard{
  width: 18px;
  height: 18px;
  background-color: #999999;
}


//头部层级内容
.title-modules{
  height: 62px;
  // width: 100%;
  display: flex;
  position: relative;
  padding-left: 30px;
  .title-max{
      align-items: center;
      display: flex;
      font-family: $font-family;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      color: #333333;
  }
  .arrows-module{
      width: 27px;
      align-items: center;
      display: flex;
      font-family: $font-family;
      font-size: 18px;
      font-weight: bold;
      justify-content: center;
      color: #333333; 
      .icon-right{
        width: 12px;
        height: 12px;
      }
  }
  .title-first{
      align-items: center;
      display: flex;
      font-family: $font-family;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      color: #333333; 
  }

  .filtrate-btn{
      position: absolute;
      height: 30px;
      border-radius: 10px;
      background-color: #2b8cb4;
      top: 14px;
      right: 457px;
      width: 100px;
      font-family: $font-family;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
  }

  .affiche-page-right{
      display: flex;
      width: 388px;
      height: 21px;
      margin-right: 49px;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      padding-top: 19px;
      .right-icon{
        width: 22px;
        height: 14px;
        margin-right: 5px;

        .ic_group_24px{
          width: 100%;
          height: 100%;
        }
      }
      .right-number{
        width: 19px;
        height: 100%;
        font-family:$font-family;
        font-weight: bold;
        text-align: left;
        color: #ff5454;
        margin-right: 10px;
      }
      .right-text{
        width: 29px;
        height: 100%;
        font-family: $font-family;
        font-weight: bold;
        text-align: left;
        color: #333333;
        margin-right: 12.2px;
      }
      .right-time-icon{
        width: 20px;
        height: 20px;
        margin-right: 4.8px;
        .ic_time {
          width: 100%;
          height: 100%;
        }
      }
      .right-time{
        width: 268px;
        height: 100%;
        font-family: $font-family;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: #333333;
      }
    }
}

// 内容头部切换
.top-module-row{
  width: 100%;
  height: 45px;
  display: flex;
  font-weight: bold;
  .select-module{
      margin-left: 21px;
      font-family: $font-family;
      font-size: 16px;
      display: flex;
      align-items: center;
      text-align: left;
      color: #b4b4b4;
  }
  .select-module.green-tar{
      border-bottom: solid 3px #308769;
      color: #308769;
  }
  .select-module.orange-tar{
      border-bottom: solid 3px #ff6a3b;
      color: #ff6a3b;
  }
  .select-module.blue-tar{
    border-bottom: solid 3px #1b65db;
    color: #1b65db;
  }
}

//字体颜色

//浅蓝色
.blue-color{
  color: #0099ff !important;
}
//浅红色
.red-color{
  color: #ff3b3b !important;
}
//浅绿色
.green-color{
  color:#1fb25f !important;
}
//浅橙色
.orange-color{
  color:#ff872a!important;
}

.check-box{
  width: 18px;
  height: 18px;
}

.green-bor-right{
  border-right:1px solid #66c7a5 !important;
}
.orange-bor-right{
  border-right:1px solid #ff872a !important;
}
.blue-bor-right{
  border-right:1px solid #3f89ff !important; 
}

// .date-vel{
//   width: 160px;
//   height: 30px;
//   border-radius: 5px;
 
//   background-color: #ffffff;
//   position: relative;
//   .date-input{
  
//     height: 100%;
//     width: 144px;
//     height: 28px;
//     border-radius: 5px;
//     border: solid 1px #d8d8d8;
//     font-family: Microsoft JhengHei;
//     font-size: 16px;
//     padding-left: 14px;
//     text-align: left;
//     color: #666666;
//     z-index:1;
//   }
//   .date-icon{
//     position: absolute;
//     right: 9px;
//     margin-top: 5px;
//     width: 18px;
//     height: 20px;
//     top: 0px;
//     z-index: 3;
//   }
// }

.date-vel{
  width: 158px;
  height: 28px;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  font-family: Microsoft JhengHei;
  color: #666666;
  position: relative;
  .date-con{
    // height: 100%;
    // width: 137px;
    height: 28px;
   
    font-size: 16px;
    padding-left: 14px;
    text-align: left;
   
    z-index:1;
  }
}

.green-bor-bottom{
    border-bottom: 1px solid #308769 !important;
}
.blue-bor-bottom{
  border-bottom: 1px solid #1b65db !important;
}
.orange-bor-bottom{
  border-bottom: 1px solid #ff6a3b  !important;
}