
 th{
    border-top: 0;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 0;
}
th div{
    width: 100%;
    height: 21px;
    font-family: $font-family;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    margin-left: 13px;
    color: #ffffff;
}
td div{
    width: 100%;
    height: 21px;
    font-family: $font-family;
    font-size: 16px;
    text-align: left;
    color: #333333;
    margin-left: 13px;
   
}
.commission-page{

    width: 1920px;
    height:1300px;
   

    .scrool-content{
        height: 1170px;
        width: 100%;
        
        .form-content{
            margin:9px 10px;
            background: #ffffff;
            width: 1900px;
            height: 1090px;
            
          
            .datum-title{
                height: 73px;
               // width: 100%;
                display: flex;
                margin-top:15px;
                margin-left: 21px;

            }

            .platform-content{
                height: 320px;
                padding-left: 27px;
                padding-top: 20px;
              
                .platform-module-con{
                    height: 54px;
                    width: 100%;
                 
                    display: flex;
                    .platform-left-title{
                        width: 156px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        
                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        color: #333333;
                    }
                    .platform-right-title{
                        width: 230px;
                        height: 30px;
                      
                        border-radius: 5px;
                        border: solid 1px #d8d8d8;
                        background-color: #ffffff;

                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #666666;
                    }
                    .platform-right-con{
                        width: 230px;
                        height: 30px;
                   
                        display: flex;
                        align-items: center;

                        .platform-checkbox{
                            width: 18px;
                            height: 18px;
                            margin-right: 5px;
                            background: #ffffff;
                        }
                        .platform-sel{
                            font-family: $font-family;
                            font-size: 16px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            margin-right: 22px;
                            letter-spacing: normal;
                            text-align: left;
                            color: #666666;
                        }
                    }
                    .hint-con{
                        // width: 230px;
                        height: 30px;
                        margin-left: 5px;
                        display: flex;
                        align-items: center;

                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #333333;
                    }
                }
            }
            
            .select-con{
                height: 50px;
                
       
                padding-left: 21px;
                .select-btn{
                    width: 80px;
                    height: 30px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .platform-table{
                
                margin-left: 21px;
                // background: blue;
                .table-01-new{
                    width: 951px;
                    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;
                    border: 1px solid #cccccc;
                    .table-th{
                        width: 100%;
                       
                        height: 50px;
                      
                        th:nth-child(1){
                            width: 371px;
                            border-right: 1px solid #ffffff;
                        }
                        th:nth-child(2),th:nth-child(3),th:nth-child(4){
                            width: 100px;
                            border-right: 1px solid #ffffff;
                        }
                        th:nth-child(5){
                            width: 110px;
                            border-right: 1px solid #ffffff;
                        }
                        th:nth-child(6) .div-select{
                            width: 170px;
                            height: 50px;
                            margin-left: 0px;
                            .select-con{
                                width: 140px;
                                height: 36px;
                                margin-top: 7px;
                                margin-left: 13px;
                                box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
                                border-radius: 5px;
                                border: solid 1px #d8d8d8;
                                background-color: #ffffff;
                                color: #333333;
                                font-size: 16px;
                                font-family: $font-family;
                            }
                        }
                    }
                    .table-tr{
                        width: 100%;
                        background: #ffffff;
                        height: 50px;
                        td:nth-child(1){
                            width: 70px;
                        }
                        td:nth-child(2){
                            width: 200px;
                        }
                        td:nth-child(3),tr:nth-child(4),tr:nth-child(5),tr:nth-child(6){
                            width: 100px;
                        }
                        td:nth-child(7){
                            width: 110px;
                        }
                        td:nth-child(8) {
                            .div-select{
                                width: 170px;
                                margin-left: 0px;
                                height: 50px;
                        
                                .select-con{
                                    width: 140px;
                                    height: 36px;
                                    margin-top: 7px;
                                    margin-left: 13px;
                                    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
                                    border-radius: 5px;
                                    border: solid 1px #d8d8d8;
                                    background-color: #ffffff;
                                    color: #333333;
                                    font-size: 16px;
                                    font-family: $font-family;
                                }
                            }
                        }
                        .td-first{
                            display: flex;
                            justify-content: flex-end;
                            margin-left: -56px;
                        }
                    }
                }
            }

            .insert-vel{
                height: 70px;
               
                
                padding-left: 21px;
                display: flex;
                align-items: center;
                .insert-bg{
                    width: 100px;
                    height: 30px;
                    border-radius: 10px;
                    background-color: #fcae00;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    font-family: $font-family;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    color: #ffffff;
                }
            }
            .btn-con{
              
                padding-left: 21px;
                display: flex;
                margin-top: 10px;
                .btn-module{
                    width: 104px;
                    height: 100%;
                 
                    align-items: center;
                    display: flex;
                    text-align: left;
                    .module-img-save{
                        width: 80px;
                        height: 30px;
                        border-radius: 10px;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .module-img-cancel{
                        width: 80px;
                        height: 30px;
                        color: #122640;
                        font-family:$font-family;
                        font-size: 16px;
                        border-radius: 10px;
                        background-color: #dbdbdb;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
               
            }
        }

    }
}