
 th{
    border-top: 0;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 0;
}
th div{
    width: 100%;
    height: 21px;
    font-family: $font-family;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color: #333333;
    margin-left: 13px;
    color: #ffffff;
}
.commission-page{

    width: 1920px;
    height:1300px;
    .title-bar{
        width: 100%;
        height: 54px;
        background:#66c7a5;
        display: flex;
        .user-sel{
            width: 120px;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
           
            font-family: $font-family;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
        }
        .user-data{
            width: 238px;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;

            font-family: $font-family;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
        }
        .user-bank{
            width: 168px;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;

            font-family: $font-family;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
        }
        .user-commission{
            width: 158px;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;

            font-family: $font-family;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
        }
        .user-sel.active0,.user-data.active0,.user-bank.active0,.user-commission.active0,.checked{
            background-color: #308769;
        }


    }

    .scrool-content{
        height: 901px;
        width: 100%;
        background: #eeeeee;
        .title-modules{
            height: 62px;
            width: 100%;
            display: flex;
            position: relative;
            .agent-module{
                width: 90px;
                padding-left: 30px;
                
                align-items: center;
                display: flex;

 
                font-family: $font-family;
                font-size: 18px;
                font-weight: bold;
                text-align: left;
                color: #333333;
            }
            .arrows-module{
                width: 27px;
                align-items: center;
                display: flex;
                font-family: $font-family;
                font-size: 18px;
                font-weight: bold;
                justify-content: center;
                color: #333333; 
            }
            .query-module{
               
                align-items: center;
                display: flex;
                font-family: $font-family;
                font-size: 18px;
                font-weight: bold;
                text-align: left;
                color: #333333; 
            }

            .affiche-page-right{
                display: flex;
                width: 388px;
                height: 21px;
                margin-right: 49px;
                font-size: 16px;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                padding-top: 19px;
                .right-icon{
                  width: 22px;
                  height: 14px;
                  margin-right: 5px;
        
                  .ic_group_24px{
                    width: 100%;
                    height: 100%;
                  }
                }
                .right-number{
                  width: 19px;
                  height: 100%;
                  font-family:$font-family;
                  font-weight: bold;
                  text-align: left;
                  color: #ff5454;
                  margin-right: 10px;
                }
                .right-text{
                  width: 29px;
                  height: 100%;
                  font-family: $font-family;
                  font-weight: bold;
                  text-align: left;
                  color: #333333;
                  margin-right: 12.2px;
                }
                .right-time-icon{
                  width: 20px;
                  height: 20px;
                  margin-right: 4.8px;
                  .ic_time {
                    width: 100%;
                    height: 100%;
                  }
                }
                .right-time{
                  width: 268px;
                  height: 100%;
                  font-family: $font-family;
                  font-size: 16px;
                  font-weight: bold;
                  text-align: left;
                  color: #333333;
                }
              }
        }
       
           
          
        .form-content{
            margin:9px 10px;
            background: #ffffff;
            width: 1900px;
            height: 821px;
            
            .top-query{
                width: 100%;
                height: 45px;
                
                display: flex;
                .member-query{
                    margin-left: 21px;
            
                    font-family: $font-family;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    text-align: left;
                    color: #b4b4b4;
                }
                .agent-query{
                    margin-left: 21px;
                    font-family: $font-family;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    text-align: left;
                    color: #b4b4b4;
                }
            }
          
            .datum-title{
                height: 73px;
               // width: 100%;
                display: flex;
                margin-top:15px;
                margin-left: 21px;
                .basic-con{
                    width: 160px;
                    height: 45px;
                    background: #eeeeee;
                    color: #308769;
                    margin-top: 28px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
          
                    font-weight: bold;
                    display: flex;
                    
                    .basic-set{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        font-size: 16px;
                        font-weight: normal;
                   
                    }
                }
   
                .basic-con.active1,.checked{
                    height: 50px;
                    margin-top: 23px;
                    background: #308769;
                    color: #eeeeee;
                }

            }

            .platform-content{
                height: 320px;
                padding-left: 27px;
                padding-top: 20px;
                width: 100%;
                // background: red;
                .platform-module-con{
                    height: 54px;
                    width: 100%;
                    // background: red;
                    display: flex;
                    .platform-left-title{
                        width: 156px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        
                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        color: #333333;
                    }
                    .platform-right-title{
                        width: 230px;
                        height: 30px;
                      
                        border-radius: 5px;
                        border: solid 1px #d8d8d8;
                        background-color: #ffffff;

                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #666666;
                    }
                    .platform-right-con{
                        width: 230px;
                        height: 30px;
                   
                        display: flex;
                        align-items: center;

                        .platform-checkbox{
                            width: 18px;
                            height: 18px;
                            margin-right: 5px;
                            background: #ffffff;
                        }
                        .platform-sel{
                            font-family: $font-family;
                            font-size: 16px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            margin-right: 22px;
                            letter-spacing: normal;
                            text-align: left;
                            color: #666666;
                        }
                    }
                    .hint-con{
                        // width: 230px;
                        height: 30px;
                        margin-left: 5px;
                        display: flex;
                        align-items: center;

                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #333333;
                    }
                }
            }
            
            .select-con{
                height: 50px;
                width: 100%;
       
                padding-left: 21px;
                .select-img{
                    width: 80px;
                    height: 30px;
                }
            }

            .platform-table{
                
                margin-left: 21px;
                // background: blue;
                .table-01-new{
                    width: 951px;
                    .table-tr1{
                        width: 100%;
                        background: #66c7a5;
                        height: 50px;
                      
                        th:nth-child(1){
                            width: 371px;
                            border-right: 1px solid #ffffff;
                        }
                        th:nth-child(2),th:nth-child(3),th:nth-child(4){
                            width: 100px;
                            border-right: 1px solid #ffffff;
                        }
                        th:nth-child(5){
                            width: 110px;
                            border-right: 1px solid #ffffff;
                        }
                        th:nth-child(6) .div-select{
                            width: 170px;
                            height: 50px;
                            margin-left: 0px;
                            background-color: red;
                            .select-con{
                                width: 140px;
                                height: 36px;
                                margin-top: 7px;
                                margin-left: 13px;
                                box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
                                border-radius: 5px;
                                border: solid 1px #d8d8d8;
                                background-color: #ffffff;
                                color: #333333;
                                font-size: 16px;
                                font-family: $font-family;
                            }
                        }
                    }
                    .table-tr2{
                        width: 100%;
                        background: #ffffff;
                        height: 50px;
                        tr:nth-child(1){
                            width: 70px;
                        }
                        tr:nth-child(2){
                            width: 200px;
                        }
                        tr:nth-child(3),tr:nth-child(4),tr:nth-child(5),tr:nth-child(6){
                            width: 100px;
                        }
                        tr:nth-child(7){
                            width: 110px;
                        }
                        tr:nth-child(8){
                            width: 170px;
                        }
                    }
                }
            }

            .insert-vel{
                height: 70px;
                width: 100%;
                
                padding-left: 21px;
                display: flex;
                align-items: center;
                .insert-bg{
                    width: 100px;
                    height: 30px;
                    border-radius: 10px;
                    background-color: #fcae00;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    font-family: $font-family;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    color: #ffffff;
                }
            }
            .btn-vel{
                height: 50px;
                width: 100%;
                display: flex;
                padding-left: 21px;
             
                align-items: center;
                .save-img{
                    width: 80px;
                    height: 30px;
                }
                .cancel-img{
                    margin-left: 25px;
                    width: 80px;
                    height: 30px;
                }
            }
        }

    }
}