.discountsVip-page{
    width: 1920px;
    height: 1035px;

    .scrool-content{
        height: 901px;
        width: 100%;
    
       
           
          
        .form-content{
            margin:9px 10px;
            background: #ffffff;
            width: 1900px;
            height: 821px;
            
            .datum-title{
                height: 50px;
                margin-left: 21px;
                margin-top: 50px;

            }

            .vip-vel{
                height: 47px;
                margin-top: 20px;
                margin-left: 21px;
                
                .function-module{
                    height: 24px;
                    display: flex;
                    .function-left{
                        width: 74px;
                        height: 24px;
                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: left;
                        color: #333333;
                        display: flex;
                        align-items: center;
                    }
                    .function-right{
                        height: 24px;
                        display: flex;
                        align-items: center;
                        .checkbox-select{
                            margin-left: 9px;
                            width: 18px;
                            height: 18px;
                        }
                        .select-content{
                            margin-left: 7px;
                            height: 24px;
                            font-family: $font-family;
                            font-size: 18px;
                            font-weight: normal;
                          
                            text-align: left;
                            color: #666666;
                        }
                    }
                }
               
            }
            .table-max{
                height: 293px;
                display: flex;
                margin-left: 21px;
                .table-left-con{
                    width: 710px;
                    height: 100%;
               
                      .hierarchy-module{
                        height: 30px;
                        // background: yellow;
                        display: flex;
                        .hierarchy-left{
                            width: 74px;
                            height: 30px;
                            font-family: $font-family;
                            font-size: 16px;
                            font-weight: bold;
                            text-align: left;
                            color: #333333;
                            display: flex;
                            align-items: center;
                        }
                        .hierarchy-right{
                            margin-left: 12px;
                            width: 130px;
                            height: 30px;
                            border-radius: 10px;
                            background-color: #fcae00;
                            font-family: $font-family;
                            font-size: 16px;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #ffffff;
                        }
                      }

                      .table-buttom-vel{
                          margin-top: 11px;
                          height: 252px;
                         
                      }
                }

                .table-right-con{
                    height: 100%;
                    // width: 900px;
                   
                    .top-title{
                        height: 30px;
                        display: flex;
                        align-items: center;
                        font-family:$font-family;
                        font-size: 16px;
                        text-align: left;
                        color: #333333;
                    }
                    .table-vip-vel{
                        margin-top: 11px;
                        height: 252px;
                      
                        .new-table-02{
                            width: 887px;
                            .first-td{
                                width: 88px;
                            }
                        }
                    }
                }
            }
            
            .bottom-table-vel{
                margin-top: 22.5px;
                height: 137px;
                // background: yellow;
                margin-left: 21px;
                .top-con-title{
                    height: 21px;
                  
                    display: flex;
                    align-items: center;
                    .left-span{
                        font-family:$font-family;
                        font-size: 16px;
                        text-align: left;
                        color: #333333;
                    }
                    .right-span{
                        font-family:$font-family;
                        font-size: 16px;
                        text-align: left;
                        color: #ff3b3b;
                    }
                }
                .bottom-con-vel{
                    margin-top: 16px;
                    height: 100px;
                   
                    .new-table-03{
                        width: 951px;
                        .td-first{
                            width: 148px;
                        }
                    }
                }
            }

            .btn-con{
                height: 30px;
                margin-top: 20px;
                margin-left: 21px;
                display: flex;
             
               
            }
        }

    }
}