.discountsReturn-page{
    width: 1920px;
    height: 1035px;

    .scrool-content{
        height: 901px;
        width: 100%;
       
        .form-content{
            margin:9px 10px;
            margin-top: 0px;
            background: #ffffff;
            width: 1900px;
            height: 830px;

            .backwater-vel{
                margin-top: 20px;
                height: 30px;
          
                display: flex;
                margin-left: 21px;
                .backwater-set{
                    font-family: $font-family;
                    font-size: 16px;
                    text-align: left;
                    color: #333333;
                    display: flex;
                    align-items: center;
                }
                .insert-set{
                    margin-left: 28px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    font-family:$font-family;
                    font-size: 16px;
                    color: #ffffff;
                    border-radius: 10px;
                    background-color: #fcae00;
                }
            }

            .table-vel{
                margin-top: 15.5px;
                margin-left: 21px;
                .platform-table-new{
                    width: 1400px;
                    box-shadow: none;
                    .table-head{
                        height: 34px;
                    }
                    .table-content{
                        height: 36px;
                    }
                    td{
                        border-right: none;
                        font-weight: bold;
                        .new-div{
                            width: 280px;
                        }
                    }
                    .topo-color-blue{
                        color: #0099ff;
                    }
                }
            }

            .query-vel{
                margin-top: 16.5px;
                margin-left: 21px;
                height: 30px;
                display: flex;
                .con-module-vel{
                    width: 310px;
                    height: 100%;
                   
                    margin-right: 50px;
                    display: flex;
                    .left-con{
                        display: flex;
                        align-items: center;
                        font-family: $font-family;
                        font-size: 16px;
                        text-align: left;
                        color: #333333;
                    }
                    .right-con{
                        margin-left: 10px;
                        width: 220px;
                        height: 100%;
                       
                        .right-con-select{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            border: solid 1px #d8d8d8;
                            background-color: #ffffff;
                        }
                    }
                }
                .date-module-vel{
                    width: 435px;
                    margin-right: 10px;
                   
                    display: flex;
                    position: relative;
                    .date-title{
                        display: flex;
                        align-items: center;
                        font-family: $font-family;
                        font-size: 16px;
                        text-align: left;
                        color: #333333;
                        margin-right: 10px;
                    }
                    .date-input{
                        border-radius: 5px;
                        border: solid 1px #d8d8d8;
                        background-color: #ffffff;
                        // margin-left: 10px;
                        width: 146px;
                        font-family: $font-family;
                        padding-left: 14px;
                        font-size: 16px;
                        color: #666666;
                    }
                    .scope{
                        width: 25px;
                        height: 100%;
                        font-size: 18px;
                        font-family:$font-family;
                        text-align: center;
                        color: #666666;
                    }

                    .hint-con{
                        position: absolute;
                        top: 42px;
                        left: 90px;
                        font-family: $font-family;
                        font-size: 16px;
                        width: 400px;
                        text-align: left;
                        color: #666666;
                    }
                }

                .btn-vel{
                    display: flex;
                    height: 30px;
                    div{
                        margin-right: 14px;
                    }
                }
            }

            .query-admin-vel{
                margin-top: 20px;
               
            }

            .query-btn-vel{
                margin-top: 17px;
                height: 30px;
                margin-left: 21px;
             
                .query-btn{
                    width: 80px;
                    height: 30px;
                    border-radius: 10px;
                    background-color: #1ba786;
                    font-family: $font-family;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .table-header{
                margin-top: 30px;
                margin-left: 21px;
                width: 1860px;
                height: 100px;
                position: relative;

                font-family: $font-family;
                font-size: 16px;

                .top-btn{
                    
                    padding-left: 12.7px;
                    display: flex;
                    align-items: center;
                    height: 50px;
                }
                .bot-con{
                    color: #333333;
                    height: 48px;
                    padding-left: 12.7px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #eeeeee;
                    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
                }
            }

            .table-max-vel{
                width: 1860px;
                margin-left: 21px;
                .table-01-new{
                    width: 1860px;
                    border-left: 1px solid #eeeeee;
                    .table-content{
                        // td:nth-child(2) div{
                        //     color: #0099ff;
                        // }
                        td:last-child{
                            width: 630px;
                        }
                    }
                }
            }

            .paging-vel{
                margin-top: 16px;
                margin-left: 21px;
            }
        }

    }
}