@charset "UTF-8";

.scope-con{
    width: 33px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    justify-content: center;
}
.scope-con25{
    width: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    justify-content: center;
}
.scope-con30{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    justify-content: center;
}

