
.head-page{
  width: 1920px;
  height: 80px;
  box-shadow: 0 7px 6px 0 rgba(0, 0, 0, 0.16);
  .head-content{
   
    height: 80px;
  
    background-color: #ffffff;
    // border: 2px solid #f2f2f2;
    display: flex;
    position: relative;
    .head-Path{
      height: 100%;
      width: 180px;
      position: relative;
      .logo-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 140px;
        height: 40px;
      }
     
    }
  
    .head-option{
      display: flex;
      height: 100%;
      width: 700px;
      font-family: $font-family;
      .option-row{
        width: 100px;
        height: 100%;
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        .img-row{
          margin-top: 8px;
          position: absolute;
       
          background-repeat: no-repeat;
          background-size: 100%;
          width: 44px;
          height: 44px;
          display: block;
          .img-row1{
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 44px;
            height: 44px;
          }
          .sel-img{
             animation:mymove 0.3s;
             animation-fill-mode: forwards;
            }
            @keyframes mymove {
              from{top:-80px;}
              to{top:0px;}
            }
            .sel-img1{
              animation:mymove1 0.3s;
              animation-fill-mode: forwards;
            }
            @keyframes mymove1 {
              from{top:0px;}
              to{top:-80px;}
            }
        }
        @keyframes TopMove {
          from{top:-80px; }
          to{top:0px; }
        }
        .img-agent{
           background-image: url($Image-url + "agent-2x.png");
   
        }
        .img-system{
          background-image: url($Image-url + "system-2x.png");
        }
        .img-discounts{
          background-image: url($Image-url + "discounts-2x.png");
        }
     
        .img-financial{
          background-image: url($Image-url + "financial-2x.png");
        }
     
        .img-statement{
          background-image: url($Image-url + "statement-2x.png");
        }
       

        .img-game{
          background-image: url($Image-url + "game-2x.png");
        }
        
     
        .img-backstage{
          background-image: url($Image-url + "backstage-2x.png");
        }
      
    
        .img-agent .sel-img{
          background-image: url($Image-url + "agent-2x-bg.png");
        }
        .img-system .sel-img{
          background-image: url($Image-url + "system-2x-bg.png");
        }
        .img-discounts .sel-img{
          background-image: url($Image-url + "discounts-2x-bg.png");
        }
        .img-financial .sel-img{
          background-image: url($Image-url + "financial-2x-bg.png");
        }
        .img-statement .sel-img{
          background-image: url($Image-url + "statement-2x-bg.png");
        }
        .img-game .sel-img{
          background-image: url($Image-url + "game-2x-bg.png");
        }
        .img-backstage .sel-img{
          background-image: url($Image-url + "backstage-2x-bg.png");
        }
        .img-bg{
          // margin-top: 8px;
          position: absolute;
          background-repeat: no-repeat;
          background-size: 100%;
          width: 44px;
          height: 44px;
          margin-top: -50px;
          // display: none;
          // background-image: url($Image-url + "backstage-2x-bg.png");
        }
        .img-agent-bg{
           background-image: url($Image-url + "agent-2x-bg.png");
        }
        .img-system-bg {
          background-image: url($Image-url + "system-2x-bg.png");
        }
        .img-discounts-bg{
          background-image: url($Image-url + "discounts-2x-bg.png");
        }
        .img-financial-bg{
          background-image: url($Image-url + "financial-2x-bg.png");
        }
        .img-statement-bg{
          background-image: url($Image-url + "statement-2x-bg.png");
        }
        .img-game-bg{
          background-image: url($Image-url + "game-2x-bg.png");
        }
        .img-backstage-bg{
          background-image: url($Image-url + "backstage-2x-bg.png");
        }
        .title-row{
          position: absolute;
          bottom: 0px;
          padding-bottom: 7px;
          width: 100%;
          background: white;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
       
        }
      }
    }
    .right-title{
      position: absolute;
      right: 45px;
      height: 100%;
      width: 652px;
     
      display: flex;

      .dis-con{
        width: 84px;
        // height: 100%;
        height: 21px;
        margin-top: 53px;
        position: relative;
        .dis-con-a{
          position: absolute;
          width: 84px;
          
        
          font-family: $font-family;
          font-size: 16px;
          font-weight: bold;
          text-decoration:none;
          text-align: center;
          // border-right: 1px solid #eeeeee;
        }
      }

      .dis-con-min{
        width: 52px;
        height: 21px;
        margin-top: 53px;
   
        position: relative;
        .dis-con-a{
          position: absolute;
          width: 100%;
          // bottom:6px;
        
          font-family: $font-family;
          font-size: 16px;
          font-weight: bold;
          text-decoration:none;
          text-align: center;
          
          // border-right: 1px solid #eeeeee;
        }
      }
      .dis-con-max{
        width: 110px;
        height: 21px;
        margin-top: 53px;
        position: relative;
        display: flex;
        padding-left: 10px;
        
        .message-count{
          position: absolute;
          top:2px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FF5454;
          width: 18px;
          height: 16px;
          font-family: $font-family;
          font-size: 7px;
          font-weight: bold;
          text-align: center;
          color: #ffffff;
          left: 4px;
        }
        .dis-con-a{
          position: absolute;
          width: 90px;
          
          padding-left: 15px;
          font-family: $font-family;
          font-size: 16px;
          font-weight: bold;
         
          text-decoration:none;
          text-align: left;
         
          // border-right: 1px solid #eeeeee;
        }
      }
      .dis-state{
        width: 54px;
        height: 21px;
        margin-top: 53px;
        position: relative;
        display: flex;
       
        .symbol{
        
          position: absolute;
          height: 21px;
       
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
         
          .left-icon-green{
            width: 10px;
            height: 10px;
            background: url($Image-url + "symbol-left-green.png");
            background-repeat:no-repeat;
            background-size: 10px 10px;
          }
          .left-icon-blue{
            width: 10px;
            height: 10px;
            background: url($Image-url + "symbol-left-blue.png");
            background-repeat:no-repeat;
            background-size: 10px 10px;
          }
          .left-icon-orange{
            width: 10px;
            height: 10px;
            background: url($Image-url + "symbol-left-orange.png");
            background-repeat:no-repeat;
            background-size: 10px 10px;
          }
        }
        .china-ves{
          width: 30px;
          height: 21px;
          border-right: 1px solid #eeeeee;
          position: absolute;
          right: 0px;
          // bottom: 6px;
          .china-logo{
           
            height: 20px;
            width: 20px;
          }
        }
       
      }

      .dis-greet{
        width: 90px;
     
        height: 100%;
        position: relative;
        .btn-swicth{
          position: absolute;
          top: 16px;
          left: 10px;;
          width: 80px;
          font-size: 14px;
          height: 30px;
          border-radius: 25px;
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
          // background-color: #eeeeee;
          display: inline-flex;
          justify-content: center;
          align-items: center;
     
          font-weight: bold;
        }
        .call-con{
          position: absolute;
          bottom: 6px;
          height: 21px;
          padding-left: 10px;

      
          font-family: $font-family;
          font-size: 16px;
          font-weight: bold;
          text-align: left;
     
        }
        .arrows{
          position: absolute;
          bottom: 8px;
          height: 21px;
          right: 0px;
          width: 16px;
          font-family: $font-family;
          font-size: 16px;
          font-weight: bold;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .bottom-icon-green{
            width: 10px;
            height: 10px;
            background:url($Image-url + "symbol-bottom-green.png");
            background-repeat: no-repeat;
            background-size: 10px 10px;
          }
          .bottom-icon-blue{
            width: 10px;
            height: 10px;
            background:url($Image-url + "symbol-bottom-blue.png");
            background-repeat: no-repeat;
            background-size: 10px 10px;
          }
          .bottom-icon-orange{
            width: 10px;
            height: 10px;
            background:url($Image-url + "symbol-bottom-orange.png");
            background-repeat: no-repeat;
            background-size: 10px 10px;
          }
        }
      }
      // .icon-con{
      //   height: 100%;
      //   width:20px;
      //   text-align: center;
      // }


    }
  }
  
}
