@charset "UTF-8";
//input 样式


.input-w60{
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
  font-family: $font-family;
  font-size: 16px;
  text-align: left;
  color: #666666;
  text-indent: $indent-5;
  margin-left: -6.5px;
}

.input-w70{
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
  font-family: $font-family;
  font-size: 16px;
  text-align: left;
  color: #666666;
  text-indent: $indent-5;
  margin-left: -6.5px;
}
.input-w86{
  width: 86px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
  font-family: $font-family;
  font-size: 16px;
  text-align: left;
  color: #666666;
  text-indent: $indent-5;
  margin-left: -6.5px;
}

.input-w90{
  width: 90px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
  font-family: $font-family;
  font-size: 16px;
  text-align: left;
  color: #666666;
  text-indent: $indent-5;
  margin-left: -6.5px;
}

.input-w96{
  width: 96px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
  font-family: $font-family;
  font-size: 16px;
  text-align: left;
  color: #666666;
  text-indent: $indent-5;
  margin-left: -6.5px;
}

.input-w100{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
  font-family: $font-family;
  font-size: 16px;
  text-align: left;
  color: #666666;
  text-indent: $indent-5;
  margin-left: -6.5px;
}
.input-w120{
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
  font-family: $font-family;
  font-size: 16px;
  text-align: left;
  color: #666666;
  text-indent: $indent-5;
  margin-left: -6.5px;
}

