.foregrounding-page{
    width: 1920px;
    height: 1120px;
    background-color: #eeeeee;
    .scrool-content{
        height: 980px;
        width: 100%;
      
        .form-content{
            margin:9px 10px;
            margin-top: 0px;
            background: #ffffff;
            width: 1900px;
            height: 914px;
            .form-register-con{
                .platform-vel{
                    margin-top: 20px;
                    height: 30px;
                    margin-left: 21px;
                    display: flex;
                    align-items: center;
                    .platform-con-left{
                        width: 90px;
                        font-family: MicrosoftJhengHei;
                        font-size: 16px;
                        text-align: left;
                        color: #333333;
                    }
                    .platform-con-right{
                        width: 400px;
                      
    
                        .platform-select{
                            width: 395px;
                            height: 30px;
                            border-radius: 5px;
                            border: solid 1px #d8d8d8;
                            background-color: #ffffff;
    
                            padding-left: 14px;
                            font-family:$font-family;
                            font-size: 16px;
                            color: #666666;
                        }
                    }
                  
                   
                }
    
                .register-vel{
                    margin-top: 22px;
                    height: 31px;
                    margin-left: 21px;
                    .register-span{
                        height: 21px;
    
                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: left;
                        color: #11513d;
                    }
                }

                .register-module-vel{
                    margin-left: 21px;
                    height: 50px;
                    // width: 100%;
                    display:flex;

                    .message-module{
                        width: 564px;
                        height: 30px;
                        display: flex;
                      
                    
                        .left-message-name{
                            width: 354px;
                            align-items: center;
                            display: flex;
                       
                            
                        }
                        .right-message-select{
                            width: 130px;
                    
                            .select-input{
                                width: 100%;
                                height: 30px;
                                border-radius: 5px;
                                border: solid 1px #d8d8d8;
                                

                                background-color: #ffffff;
                                padding-left: 12px;
                                font-family:$font-family;
                                font-size: 16px;
                                text-align: left;
                                color: #666666;
                            }
                            .bg-select{
                                background-color: #e2e2e2;
                            }
                        }
                    }
                }

                .pwd-vel{
                    margin-top: 23px;
                    height: 48px;
                    margin-left: 21px;
                    .pwd-span{
                        height: 21px;
    
                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: left;
                        color: #11513d;
                    }
                }

                .bottom-vel{
                 
                    height: 42px;
                    padding-left: 21px;
                    display: flex;
                    .remark-module{
                        width: 563px;
                        height: 21px;
                        .left-title{
                            margin-right: 11px;
                           
                            font-family: $font-family;
                            font-size: 16px;
                          
                            text-align: left;
                            color: #333333;
                        }
                        .right-con{
                           
                            font-family: $font-family;
                            font-size: 16px;
                            
                            text-align: left;
                            color: #666666;
                        }
                    }
                }

                .btn-con{
                    
                    height: 30px;
                 
                    margin-left: 21px;
                    display: flex;
                   
                }
            }
        
        }

    }
}