@charset "UTF-8";

.table-list {
  width: 1438px;
  position: absolute;

  .table-01 {
    position: absolute;
    width: 1438px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .table-head {
    width: 100%;
    height: 50px;
    background-color: #66c7a5;

    td {
      div {
        width: 100%;
        height: 21px;
        font-family: $font-family;
        font-size: 16px;
        text-align: left;
        color: #ffffff;
        margin-left: 13px;
      }
    }
  }

  .table-content {
    width: 100%;
    height: 50px;
    background: #fff;

    td {
      .td-div {
        position:relative;
        display: flex;
        width: 100%;
        height: 21px;
        font-family: $font-family;
        font-size: 16px;
        text-align: left;
        color: #333333;
        margin-left: 13.5px;
        align-items: center;

        .btn-input {
          position: relative;
          left: 36px;
          input {

            width: 90px;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #dbdbdb;
            font-family: $font-family;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            color: #333333;

          }
        }
      }
    }
  }
}