@charset "UTF-8";

table{
  border-collapse: collapse;
  border: 0px solid #cccccc;;
}

table td {
  border-top: 0;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 0;
}
table tr td.firstRow  {
  border-top: 1px solid #cccccc;
}

table tr.lastrow td {
  border-bottom: 0;
}

table tr td.lastCol {
  border-right: 0 !important;
}

.first-td-border{
    border-bottom: 1px solid #fff;
}


.table-head {
  width: 100%;
  height: 50.5px;

  td {
    div {
      width: 100%;
      height: 21px;
      font-family: $font-family;
      font-weight: bold;
      font-size: 14px;
      text-align: left;
      color: #ffffff;
      margin-left: 13px;
    }
  }
}

.table-content {
  width: 100%;
  height: 50px;
  background: #fff;

  td {
    .td-div {
      position: relative;
      display: flex;
      width: 100%;
      height: 21px;
      font-family: $font-family;
      font-size: 14px;
      text-align: left;
      color: #333333;
      margin-left: 12.5px;
      align-items: center;
      justify-content: space-between;
      .btn-input {
        position: relative;
        right: 20px;
  
      }
      .td-text{
        position: relative;
        font-family: $font-family;
        font-size: 16px;
        text-align: left;
        color: #ffffff;
        font-weight: bold;
      }

      .td-sel{
        position: relative;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        border: solid 1px #d8d8d8;
        background-color: #ffffff;
        right: 17px;
        font-family: $font-family;
        font-size: 16px;
        text-align: left;
        color: #666666;
      }
      .span-del{
        width: 50px;
        height: 21px;
        font-family: $font-family;
        font-size: 16px;
        text-align: left;
        color: #ff3b3b;
      }

    }
  }

}
  .table-01 {
    position: relative;
    width: 1438px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;

  }

  .table-02{
    width: 599px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }
