@charset "UTF-8";

$font-family:Microsoft JhengHei;

$Image-url:"../img/";

$indent-5:5px;
/**基础样式集合*/

//基础样式
@import "../../theme/css/rewrite.scss";
//选中样式
@import "../../theme/css/base.scss";
//字体样式
@import "../../theme/css/font.scss";
//按钮样式
@import "../../theme/css/button.scss";

//input样式
@import "../../theme/css/input.scss";
//表格样式
@import "../../theme/css/table.scss";
//日期
@import "../../theme/css/date.scss";


//头部模块
@import "../../theme/css/head_module.scss";


//page页面集合
//登录
@import "../../theme/page/user_login.scss";

//系统管理
@import "../../theme/page/system_manage_com.scss";

//登入-显示公告页面
@import "../../theme/page/login_affiche.scss";


//优惠管理
@import "../../theme/page/discounts_manage.scss";


//游戏管理管理
@import "../../theme/page/game_manage.scss";

//财政管理
@import "../../theme/page/finance_manage.scss";

//会员代理商
@import "../../theme/page/user_query.scss";


//权限管理
@import "../../theme/page/authority_manage.scss";

//报表汇出
@import "../../theme/page/statement_manage.scss";













